.nav {
    height: 6rem;
    background-color: #ef5350;
    display: flex;
    justify-content: center;
    align-items: center;

    &__pokeball {
        height: 3rem;
        width: 3rem;
        margin: 5rem;
    }
}